doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href="/") Home
          
    if currentUser 
      if currentUser.status === 'user'
        div 
          a(href="/user/join") Join the club

      if currentUser.status === 'member'
        div 
          a(href="/user/admin") Become an admin

      a(href=currentUser.url)
        h1= currentUser.fullName
        
      a(href="/log-out") Log Out

    else 
      a(href="/log-in") Log In
      br
      a(href="/sign-up") Sign Up

    block content