body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#post {
  background-color: rgb(241, 243, 244);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
}