extends ../layout 

block content 
    
    h1= title

    form(method='POST')

        div
            label(for="firstName") First Name:
            input#firstName(type="text" name="firstName" value=(user !== undefined ? user.firstName : ''))
        
        div
            label(for="lastName") Last Name:
            input#lastName(type="text" name="lastName" value=(user !== undefined ? user.lastName : ''))

        div
            label(for="email") Email:
            input#email(type="email" name="username" value=(user !== undefined ? user.email : ''))


        if action === 'create'
            div
                label(for="password") Password:
                input#password(type="password" name="password")

            div
                label(for="confirmPassword") Confirm Password:
                input#confirmPassword(type="password" name="confirmPassword")

        else
            input(type="hidden", name="status" value=(user.status || 'user'))

        button(type="submit")= title 

    if errors
        ul
            for error in errors
                li= error.msg

    if action === 'create'
        p Already have an account?
        a(href="/log-in") Log In 