extends ../layout 

block content

    h3 Enter an entry code to become #{applyingStatus === 'member' ? 'a member' : 'an admin'}
    form(action="", method="post") 
        input(name='entryCode' type='password' value=(entryCode || ''))

        button(type="submit") #{title}

    p= error || ''

