extends ../layout 

block content 
    a(href="/") Home
    
    h1 Log In

    form(method='POST')

        div
            label(for="email") Email:
            input#email(type="email" name="username")

        div
            label(for="password") Password:
            input#password(type="password" name="password")

        button(type="submit") Log In

    p Don't have an account?
    a(href="/sign-up") Sign Up