extends ../layout 

block content 
    a(href="/") Home
    
    h1 Sign Up 

    form(method='POST')

        div
            label(for="firstName") First Name:
            input#firstName(type="text" name="firstName" )
        
        div
            label(for="lastName") Last Name:
            input#lastName(type="text" name="lastName")

        div
            label(for="email") Email:
            input#email(type="email" name="username")

        div
            label(for="password") Password:
            input#password(type="password" name="password")

        button(type="submit") Sign Up

    p Already have an account?
    a(href="/log-in") Log In 